@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

.body1 {
  background: url("../../img/1.png") 0 0/100% 100% no-repeat;
  height: 800px;
}
.body1__menu {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 35px 0 0 0;
}
.body1__list {
  display: flex;
  justify-content: center;
  align-items: center;
}
.body1__item {
  padding: 0 35px;
  font-size: 13px;
  font-family: "Lato";
  color: #4d4959;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.2;
}
.body1__item:nth-child(1):after {
  content: "";
  width: 2px;
  height: 2px;
  border-radius: 50%;
  background-color: #4d4959;
  position: absolute;
  top: 78px;
  margin: 0 0 0 35px;
}
.body1__item:nth-child(2) {
  padding: 0 75px 0 35px;
}
.body1__item:nth-child(4) {
  padding: 0 35px 0 75px;
}
.body1__item:nth-child(4):after {
  content: "";
  width: 2px;
  height: 2px;
  border-radius: 50%;
  background-color: #4d4959;
  position: absolute;
  top: 78px;
  margin: 0 0 0 35px;
}

.body2 {
  background-color: #f7f7f7;
  height: 470px;
}
.body2__icon {
  padding: 117px 0 0 0;
  text-align: center;
}
.body2__txtcontainer {
  width: 1100px;
  height: 90px;
  margin: 0 auto;
}
.body2__text {
  font-size: 18px;
  font-family: "Lato";
  color: #848789;
  line-height: 1.889;
  text-align: center;
}

.title {
  font-size: 18px;
  font-family: "Lato";
  color: #353738;
  text-transform: uppercase;
  line-height: 1.2;
  text-align: center;
  margin: 35px 0;
}

.body3 {
  display: flex;
}

.body3__item1 {
  display: flex;
  flex: 0 1 66.666%;
  background: url("../../img/2.png") 0 0/100% 100% no-repeat;
  height: 600px;
  justify-content: center;
  align-items: center;
}

.body3__title {
  margin: 27px 0;
}

.body3__logo {
  max-height: 120px;
  max-width: 120px;
}

.body3__item2 {
  display: flex;
  flex-direction: column;
  flex: 0 1 33.333%;
  height: 600px;
}

.body3__icon {
  text-align: center;
  padding: 70px 0 0 0;
}

.body3__txtcontainer {
  width: 408px;
  margin: 0 auto;
}

.body3__text {
  font-size: 16px;
  font-family: "Lato";
  color: #848789;
  line-height: 1.875;
  text-align: justify;
}

.body3__line {
  text-align: center;
  margin: 40px 0;
}

.body3__png {
  background: url("../../img/3.png") 0 0/100% 100% no-repeat;
  height: 200px;
  position: relative;
}

.body3__png:before {
  content: "";
  border: 20px solid transparent;
  border-top: 20px solid white;
  padding: 20px 0 0 0;
  left: 46%;
  position: absolute;
}

.body4 {
  display: flex;
}

.body4__item1 {
  display: flex;
  flex-direction: column;
  flex: 0 1 33.333%;
  height: 600px;
}

.body4__icon {
  text-align: center;
  padding: 61px 0 0 0;
}

.body4__title {
  margin: 25px 0;
}

.body4__txtcontainer {
  width: 408px;
  margin: 0 auto;
}

.body4__text {
  font-size: 16px;
  font-family: "Lato";
  color: #848789;
  line-height: 1.875;
  text-align: justify;
}

.body4__line {
  text-align: center;
  margin: 40px 0;
}

.body4__png {
  background: url("../../img/4.png") 0 0/100% 100% no-repeat;
  height: 200px;
  position: relative;
}

.body4__png:before {
  content: "";
  border: 20px solid transparent;
  border-top: 20px solid white;
  padding: 20px 0 0 0;
  left: 46%;
  position: absolute;
}

.body4__item2 {
  display: flex;
  flex: 0 1 66.666%;
  background: url("../../img/5.png") 0 0/100% 100% no-repeat;
  height: 600px;
  justify-content: center;
  align-items: center;
}

.body4__logo {
  max-height: 160px;
  max-width: 180px;
}

.body5__row {
  display: flex;
}

.body5__item1 {
  display: flex;
  background: url("../../img/6.png") 0 0/100% 100% no-repeat;
  flex: 0 1 33.333%;
  height: 600px;
  justify-content: center;
  align-items: center;
}

.body5__logo {
  max-height: 75px;
  max-width: 225px;
}

.body5__item2 {
  flex: 0 1 33.333%;
  max-height: 600px;
}

.body5__icon {
  margin: 58px 0 0 0;
  text-align: center;
}

.body5__title {
  margin: 25px 0;
}

.body5__txtcontainer {
  width: 408px;
  margin: 0 auto;
}

.body5__text {
  font-size: 16px;
  font-family: "Lato";
  color: #848789;
  line-height: 1.875;
  text-align: justify;
}

.body5__line {
  height: 1px;
  text-align: center;
  margin: 39px 0;
}

.body5__png {
  background: url("../../img/7.png") 0 0/cover no-repeat;
  height: 200px;
  position: relative;
}

.body5__png:before {
  content: "";
  border: 20px solid transparent;
  border-top: 20px solid white;
  padding: 20px 0 0 0;
  left: 46%;
  position: absolute;
}

.body5__item3 {
  flex: 1 1 33.333%;
  background: url("../../img/8.png") 0 0/100% 100% no-repeat;
  height: 600px;
}

.body6 {
  background-color: #f7f7f7;
  max-height: 470px;
}

.body6__container {
  width: 1120px;
  margin: 0 auto;
}

.body6__icon {
  text-align: center;
  padding: 124px 0 0 0;
}

.body6__title {
  margin: 38px 0;
  text-align: center;
}

.body6__text {
  font-size: 24px;
  font-family: "Lato";
  color: #848789;
  line-height: 1.417;
  text-align: center;
}

.body6__circles {
  display: flex;
  justify-content: center;
  padding: 90px 55px;
}

.body6__circle1 {
  border-radius: 50%;
  background-color: #a9afb3;
  width: 11px;
  height: 11px;
}

.body6__circle2 {
  border-style: solid;
  border-width: 1px;
  border-color: #c8c8c8;
  border-radius: 50%;
  background-color: rgba(40, 47, 53, 0);
  width: 11px;
  height: 11px;
  margin: 0 9px;
}

.body6__circle3 {
  border-style: solid;
  border-width: 1px;
  border-color: #c8c8c8;
  border-radius: 50%;
  background-color: rgba(40, 47, 53, 0);
  width: 11px;
  height: 11px;
}

.body7 {
  height: 534px;
}

.body7__row {
  display: flex;
}

.body7__item1 {
  display: flex;
  flex: 0 1 33.333%;
  flex-wrap: wrap;
}

.body7__img1 {
  flex: 0 1 50%;
  background: url("../../img/9.png") 0 0/100% auto no-repeat;
  height: 267px;
}

.body7__img2 {
  flex: 0 1 50%;
  background: url("../../img/10.png") 0 0/100% auto no-repeat;
  height: 267px;
}

.body7__img3 {
  flex: 0 1 100%;
  background: url("../../img/11.png") 0 0/100% auto no-repeat;
  height: 267px;
}

.body7__item2 {
  display: flex;
  flex: 0 1 33.333%;
}

.body7__img4 {
  flex: 0 1 50%;
  background: url("../../img/12.png") 0 0/100% 100% no-repeat;
  height: 534px;
}

.body7__img5 {
  flex: 0 1 50%;
  background: url("../../img/13.png") 0 0/101% 100% no-repeat;
  height: 534px;
}

.body7__item3 {
  display: flex;
  flex-wrap: wrap;
  flex: 0 1 33.333%;
}

.body7__background {
  display: flex;
  flex: 0 1 100%;
  height: 267px;
  position: relative;
  background-color: rgba(100, 194, 158, 0.8);
  background-size: 100% auto;
}

.body7__blockimg6 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 0 1 100%;
  background: rgba(100, 194, 158, 0.8) url("../../img/14.png") 0 0/100% auto no-repeat;
  height: 267px;
}

.body7__logo {
  position: absolute;
}

.body7__img7 {
  flex: 0 1 50%;
  background: url("../../img/15.png") 0 0/100% auto no-repeat;
  height: 267px;
}

.body7__img8 {
  flex: 0 1 50%;
  background: url("../../img/16.png") 0 0/100% auto no-repeat;
  height: 267px;
}

.body8 {
  height: 200px;
  background-color: #282f35;
  display: flex;
  justify-content: center;
  align-items: center;
}

.body8__button {
  border: 1px solid white;
  background-color: rgba(255, 255, 255, 0);
  width: 300px;
  height: 50px;
  font-size: 14px;
  font-family: "Lato";
  color: white;
  text-transform: uppercase;
  line-height: 1.2;
  text-align: center;
}

.body9__container {
  width: 534px;
  margin: 0 auto;
}

.body9__row {
  display: flex;
  flex-direction: column;
  height: 469px;
  align-items: center;
}

.body9__logo {
  width: 94px;
  height: 85px;
  margin-top: 109px;
}

.body9__title {
  font-size: 24px;
  font-family: "Lato";
  color: #848789;
  line-height: 1.417;
  margin: 30px 0;
}

.body9__search {
  display: flex;
}

.body9__src {
  width: 400px;
  height: 68px;
  border: 1px solid #a9afb3;
  opacity: 0.8;
  padding: 20px;
  font-size: 20px;
  font-family: "Lato";
  color: rgba(146, 146, 146, 0.502);
  font-style: italic;
  line-height: 1.2;
}
.body9__src:invalid {
  border: 4px solid red;
}

.body9__btn {
  margin-left: 8px;
  width: 126px;
  height: 68px;
  color: white;
  background-color: #64c29e;
  font-size: 24px;
  font-family: "Lato";
  line-height: 1;
  text-align: center;
  text-transform: uppercase;
}

.body10 {
  height: 250px;
  background-color: #f7f7f7;
}

.body10__row {
  display: flex;
}

.body10__item1 {
  flex: 0 1 33.333%;
  padding: 100px 0 0 300px;
  font-size: 16px;
  font-family: "Lato";
  color: #848789;
  line-height: 1.117;
}

.body10__item2 {
  display: flex;
  flex: 0 1 33.333%;
  justify-content: center;
  padding: 100px 0;
}

.body10__1 {
  transition: 1s;
}

.body10__1:hover {
  transform: scale(1.3);
}

.body10__3 {
  transition: 1s;
}

.body10__3:hover {
  transform: scale(1.3);
}

.body10__2 {
  padding: 0 9px;
  transition: 1s;
}

.body10__2:hover {
  transform: scale(1.3);
}

.body10__item3 {
  flex: 0 1 33.333%;
  padding: 100px 0 0 50px;
}

/*# sourceMappingURL=1.css.map */
