@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

@font-face {
  font-family: "HelveticaNeue";
  src: url("../../fonts/helveticaneuecyr-light.eot");
  src: local("☺"), url("../../fonts/helveticaneuecyr-light.woff") format("woff"), url("../../fonts/helveticaneuecyr-light.ttf") format("truetype"), url("../../fonts/helveticaneuecyr-light.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
.content {
  max-width: 100%;
  margin: 0 auto;
}
@media only screen and (max-width: 479px) {
  .content {
    max-width: 100%;
  }
}
@media only screen and (min-width: 780px) and (max-width: 959px) {
  .content {
    max-width: 100%;
  }
}
@media only screen and (min-width: 960px) and (max-width: 1439px) {
  .content {
    max-width: 100%;
  }
}

.menu {
  display: flex;
  height: 60px;
  background-color: #373A3C;
  border-radius: 4px;
  border-bottom: 3px solid #777777;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.menu__src {
  width: 210px;
  background: #FFFFFF;
  border: 1px solid #CCCCCC;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 9px 0 8px 16px;
  font-family: HelveticaNeue;
  font-size: 16px;
  line-height: 21px;
  margin: 0 20px 0 10px;
}
.menu__container {
  width: 1100px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.menu__logo {
  width: 96px;
  height: 29px;
  transition: 1s;
}
.menu__logo:hover {
  transform: scale(1.1);
}
.menu__list {
  display: flex;
  align-items: center;
}
.menu__list li:last-child:before {
  content: "";
  background-image: url("../../img/icons/Shape.png");
  height: 20px;
  width: 20px;
  position: absolute;
  transform: translate(0, -3px);
  margin: 0 0 0 6px;
}
.menu__list a {
  font-family: HelveticaNeue;
  font-size: 16px;
  line-height: 16px;
  color: white;
  padding: 0 30px;
  position: relative;
  transition: 0.5s;
}
.menu__list a:hover {
  color: #8DD83D;
}
.menu__list a:after {
  content: "";
  background-image: url("../../img/icons/down-arrow.png");
  height: 7px;
  width: 12px;
  position: absolute;
  top: 50%;
  margin-left: 8px;
}
.menu__list a.hide-after:after {
  display: none;
}
@media only screen and (max-width: 479px) {
  .menu {
    height: auto;
  }
  .menu__container {
    max-width: 100%;
    flex-direction: column;
    align-items: center;
  }
  .menu__logo {
    display: flex;
    justify-content: center;
    padding: 20px 0;
  }
  .menu__list {
    display: flex;
    flex-direction: column;
    padding: 20px;
  }
  .menu__list li {
    padding: 10px;
  }
}
@media only screen and (min-width: 480px) and (max-width: 779px) {
  .menu {
    height: auto;
  }
  .menu__container {
    max-width: 100%;
    flex-direction: column;
    align-items: center;
  }
  .menu__logo {
    display: flex;
    justify-content: center;
    padding: 20px 0;
  }
  .menu__list {
    display: flex;
    flex-direction: column;
    padding: 20px;
  }
  .menu__list li {
    padding: 10px;
  }
}
@media only screen and (min-width: 780px) and (max-width: 959px) {
  .menu {
    height: auto;
  }
  .menu__container {
    max-width: 100%;
    flex-direction: column;
  }
  .menu__logo {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 20px 0;
  }
  .menu__list {
    display: flex;
    justify-content: space-around;
    padding: 20px 0;
  }
}

.body2 {
  height: 644px;
  background: url(../../img/1.png) 0 0/100% 100% no-repeat;
  position: relative;
  display: flex;
  justify-content: center;
}
.body2__circles {
  display: flex;
  position: absolute;
  height: 100%;
  align-items: flex-end;
  padding-bottom: 40px;
}
.body2__circle1 {
  border-radius: 50%;
  background-color: #8DD83D;
  width: 10px;
  height: 10px;
}
.body2__circle2 {
  border-radius: 50%;
  border: 1px solid #8DD83D;
  width: 10px;
  height: 10px;
  margin: 0 10px;
}
.body2__circle3 {
  border-radius: 50%;
  border: 1px solid #8DD83D;
  width: 10px;
  height: 10px;
}
.body2__item1 {
  display: flex;
  flex: 0 0 10%;
  align-items: center;
  justify-content: center;
}
.body2__arrow {
  transition: 0.5s;
}
.body2__arrow:hover {
  transform: scale(1.2);
}
.body2__item2 {
  display: flex;
  flex: 0 0 80%;
  align-items: center;
  height: 100%;
  justify-content: flex-end;
  padding-right: 100px;
}
.body2__content {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  width: 280px;
  height: 260px;
}
.body2__content.text {
  align-items: flex-start;
  justify-content: flex-start;
}
.body2__title {
  font-family: HelveticaNeue;
  font-size: 36px;
  line-height: 42px;
  color: #FFFFFF;
  text-align: left;
}
.body2__subtitle {
  font-family: HelveticaNeue;
  font-size: 24px;
  line-height: 28px;
  color: #FFFFFF;
  text-align: left;
}
.body2__btn {
  display: flex;
  justify-content: space-between;
  width: 280px;
}
.body2__btn.button {
  background: linear-gradient(180deg, #686C6F 0%, #373A3C 100%);
  width: 136px;
  height: 38px;
  border-radius: 4px;
  color: #FFFFFF;
  font-family: HelveticaNeue;
  font-size: 16px;
  line-height: 21px;
  transition: 1s;
  display: flex;
  justify-content: center;
  align-items: center;
}
.body2__btn.button:hover {
  background: #8DD83D;
}
.body2__item3 {
  display: flex;
  flex: 0 0 10%;
  align-items: center;
  justify-content: center;
}
@media only screen and (max-width: 479px) {
  .body2 {
    height: auto;
  }
  .body2__circles {
    padding-bottom: 20px;
  }
  .body2__item2 {
    justify-content: center;
    padding-right: 0;
  }
  .body2__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 400px;
  }
  .body2__content.text {
    align-items: center;
    justify-content: flex-start;
    padding-top: 30px;
  }
  .body2__btn {
    margin-bottom: 30px;
  }
}
@media only screen and (min-width: 480px) and (max-width: 779px) {
  .body2 {
    height: auto;
  }
  .body2__circles {
    padding-bottom: 20px;
  }
  .body2__item2 {
    justify-content: center;
    padding-right: 0;
  }
  .body2__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 400px;
  }
  .body2__content.text {
    align-items: center;
    justify-content: flex-start;
    padding-top: 30px;
  }
  .body2__btn {
    margin-bottom: 30px;
  }
}

.body3 {
  background: radial-gradient(100% 100% at 50% 0%, #686C6F 0%, #373A3C 100%);
  min-height: 865px;
  display: flex;
  flex-direction: column;
  padding-bottom: 67px;
}
.body3__block1 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.body3__icon {
  background: url("../../img/icons/xbox.png") 0 0 no-repeat;
  height: 64px;
  width: 63px;
  margin: 64px 0 18px 0;
}
.body3__text {
  max-width: 449px;
  text-align: center;
}
.body3__text1 {
  font-family: HelveticaNeue;
  font-size: 48px;
  line-height: 56px;
  color: #FFFFFF;
}
.body3__text2 {
  font-family: HelveticaNeue;
  font-size: 36px;
  line-height: 42px;
  color: #FFFFFF;
}
.body3__row {
  width: 1100px;
  margin: 0 auto;
  display: flex;
}
.body3__column {
  display: flex;
  flex: 1 1 33.333%;
  padding: 42px 0 0;
  justify-content: center;
}
@media only screen and (max-width: 479px) {
  .body3 {
    height: auto;
  }
  .body3__icon {
    margin: 30px 0 18px;
  }
  .body3__row {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
  }
}
@media only screen and (min-width: 480px) and (max-width: 779px) {
  .body3 {
    height: auto;
  }
  .body3__icon {
    margin: 30px 0 18px 0;
  }
  .body3__row {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
  }
}
@media only screen and (min-width: 780px) and (max-width: 959px) {
  .body3 {
    height: auto;
  }
  .body3__icon {
    margin: 50px 0 18px;
  }
  .body3__row {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
  }
}
@media only screen and (min-width: 960px) and (max-width: 1439px) {
  .body3 {
    height: auto;
  }
  .body3__icon {
    margin: 64px 0 18px;
  }
  .body3__row {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
  }
}

.item {
  width: 320px;
  min-height: 420px;
  background: #FFFFFF;
  border: 1px solid #8DD83D;
  box-sizing: border-box;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
}
.item__blockpng {
  display: flex;
  width: 318px;
  height: 180px;
  border-radius: 4px;
  background-color: #FAFAFA;
  justify-content: center;
  align-items: center;
}
.item__img {
  height: 180px;
}
.item__body {
  flex: 1 1 auto;
}
.item__subtitle {
  font-family: HelveticaNeue;
  font-size: 18px;
  line-height: 21px;
  color: #435766;
  padding: 20px;
}
.item__text {
  font-family: HelveticaNeue;
  font-size: 24px;
  line-height: 28px;
  color: #435766;
  padding: 0 20px;
  word-wrap: break-word;
}
.item__btn {
  display: flex;
}
.item__btn .button {
  align-self: flex-end;
  width: 278px;
  height: 60px;
  background: #8DD83D;
  border-radius: 4px;
  font-family: HelveticaNeue;
  font-size: 16px;
  line-height: 21px;
  color: #FFFFFF;
  margin: 20px auto;
  transition: 1s;
}
.item__btn .button:hover {
  background-color: mediumseagreen;
}

.body4 {
  min-height: 880px;
}
.body4__body {
  background: url("../../img/5.png") 0 0/100% auto no-repeat;
  min-height: 880px;
  display: flex;
  flex-direction: column;
}
.body4__background {
  min-height: 880px;
  background-color: rgba(23, 23, 23, 0.5);
}
.body4__block1 {
  min-height: 43px;
  display: flex;
  align-items: center;
  padding: 97px 0 0;
  justify-content: center;
}
.body4__title {
  display: flex;
  justify-content: center;
  font-family: HelveticaNeue;
  font-size: 36px;
  line-height: 42px;
  color: #FFFFFF;
  flex: 0 0 90%;
  padding-left: 150px;
}
.body4__arrow {
  display: flex;
  flex: 0 0 10%;
  justify-content: center;
  width: 21px;
  height: 21px;
  transition: 0.5s;
}
.body4__arrow:hover {
  transform: scale(1.25);
}
.body4__btn {
  display: flex;
  justify-content: center;
}
.body4__button {
  width: 207px;
  height: 53px;
  background: linear-gradient(180deg, #686C6F 0%, #373A3C 100%);
  border-radius: 4px;
  font-family: HelveticaNeue;
  font-size: 16px;
  line-height: 21px;
  color: #FFFFFF;
  transition: 1s;
}
.body4__button:hover {
  background: #8DD83D;
}
.body4__row {
  display: flex;
  padding: 60px;
  overflow: hidden;
}
.body4__row .item {
  margin: 30px;
  transition: 1s;
}
.body4__row .item:hover {
  transform: scale(1.1);
  opacity: 0.7;
}
.body4__row .item__blockpng {
  max-width: 318px;
}
.body4__row .item img {
  width: 100%;
  height: 100%;
}
.body4__row .item__btn .button {
  transition: 1s;
}
.body4__row .item__btn .button:hover {
  background-color: mediumseagreen;
}
@media only screen and (max-width: 479px) {
  .body4 {
    min-height: 880px;
  }
  .body4__body {
    background: url("../../img/5.png") 0 0/cover no-repeat;
    min-height: 880px;
    display: flex;
    flex-direction: column;
  }
  .body4__background {
    min-height: 880px;
    background-color: rgba(23, 23, 23, 0.5);
  }
  .body4__block1 {
    flex-direction: column;
    max-height: 100px;
    display: flex;
    align-items: center;
    padding: 40px 0 0;
    justify-content: center;
  }
  .body4__title {
    display: flex;
    justify-content: center;
    text-align: center;
    font-family: HelveticaNeue;
    font-size: 36px;
    line-height: 42px;
    color: #FFFFFF;
    max-width: 100%;
    padding-left: 0;
  }
  .body4__arrow {
    display: flex;
    max-width: 100%;
    justify-content: center;
    width: 21px;
    height: 21px;
    padding-top: 10px;
  }
  .body4__row {
    display: flex;
    padding: 40px 0;
    justify-content: center;
    flex-wrap: wrap;
  }
  .body4__row .item {
    margin: 15px;
    transition: 1s;
  }
  .body4__row .item:hover {
    transform: scale(1.1);
    opacity: 0.7;
  }
  .body4__row .item__blockpng {
    max-width: 318px;
  }
  .body4__row .item img {
    width: 100%;
    height: 100%;
  }
  .body4__row .item__btn .button {
    transition: 1s;
  }
  .body4__row .item__btn .button:hover {
    background-color: mediumseagreen;
  }
  .body4__btn {
    display: flex;
    justify-content: center;
    padding-bottom: 30px;
  }
}
@media only screen and (min-width: 480px) and (max-width: 779px) {
  .body4 {
    min-height: 880px;
  }
  .body4__body {
    background: url("../../img/5.png") 0 0/cover no-repeat;
    min-height: 880px;
    display: flex;
    flex-direction: column;
  }
  .body4__background {
    min-height: 880px;
    background-color: rgba(23, 23, 23, 0.5);
  }
  .body4__block1 {
    max-height: 100px;
    display: flex;
    align-items: center;
    padding: 40px 0 0;
    justify-content: center;
  }
  .body4__title {
    display: flex;
    justify-content: center;
    text-align: center;
    font-family: HelveticaNeue;
    font-size: 36px;
    line-height: 42px;
    color: #FFFFFF;
    max-width: 100%;
    padding-left: 0;
    flex: 0 0 90%;
  }
  .body4__arrow {
    display: flex;
    max-width: 100%;
    justify-content: center;
    width: 21px;
    height: 21px;
    flex: 0 0 10%;
    align-items: center;
  }
  .body4__row {
    display: flex;
    padding: 40px 0;
    justify-content: center;
    flex-wrap: wrap;
  }
  .body4__row .item {
    margin: 15px;
    transition: 1s;
  }
  .body4__row .item:hover {
    transform: scale(1.1);
    opacity: 0.7;
  }
  .body4__row .item__blockpng {
    max-width: 318px;
  }
  .body4__row .item img {
    width: 100%;
    height: 100%;
  }
  .body4__row .item__btn .button {
    transition: 1s;
  }
  .body4__row .item__btn .button:hover {
    background-color: mediumseagreen;
  }
  .body4__btn {
    display: flex;
    justify-content: center;
    padding-bottom: 30px;
  }
}
@media only screen and (min-width: 780px) and (max-width: 959px) {
  .body4 {
    min-height: 880px;
  }
  .body4__body {
    background: url("../../img/5.png") 0 0/cover no-repeat;
    min-height: 880px;
    display: flex;
    flex-direction: column;
  }
  .body4__background {
    min-height: 880px;
    background-color: rgba(23, 23, 23, 0.5);
  }
  .body4__block1 {
    max-height: 100px;
    display: flex;
    align-items: center;
    padding: 40px 0 0;
    justify-content: center;
  }
  .body4__title {
    display: flex;
    justify-content: center;
    text-align: center;
    font-family: HelveticaNeue;
    font-size: 36px;
    line-height: 42px;
    color: #FFFFFF;
    max-width: 100%;
    padding-left: 0;
    flex: 0 0 90%;
  }
  .body4__arrow {
    display: flex;
    max-width: 100%;
    justify-content: center;
    width: 21px;
    height: 21px;
    flex: 0 0 10%;
    align-items: center;
  }
  .body4__row {
    display: flex;
    padding: 40px 0;
    justify-content: center;
    flex-wrap: wrap;
  }
  .body4__row .item {
    margin: 15px;
    transition: 1s;
  }
  .body4__row .item:hover {
    transform: scale(1.1);
    opacity: 0.7;
  }
  .body4__row .item__blockpng {
    max-width: 318px;
  }
  .body4__row .item img {
    width: 100%;
    height: 100%;
  }
  .body4__row .item__btn .button {
    transition: 1s;
  }
  .body4__row .item__btn .button:hover {
    background-color: mediumseagreen;
  }
  .body4__btn {
    display: flex;
    justify-content: center;
    padding-bottom: 30px;
  }
}
@media only screen and (min-width: 960px) and (max-width: 1439px) {
  .body4 {
    min-height: 880px;
  }
  .body4__body {
    background: url("../../img/5.png") 0 0/cover no-repeat;
    min-height: 880px;
    display: flex;
    flex-direction: column;
  }
  .body4__background {
    min-height: 880px;
    background-color: rgba(23, 23, 23, 0.5);
  }
  .body4__block1 {
    max-height: 100px;
    display: flex;
    align-items: center;
    padding: 80px 0 0;
    justify-content: center;
  }
  .body4__title {
    display: flex;
    justify-content: center;
    text-align: center;
    font-family: HelveticaNeue;
    font-size: 36px;
    line-height: 42px;
    color: #FFFFFF;
    max-width: 100%;
    padding-left: 0;
    flex: 0 0 90%;
  }
  .body4__arrow {
    display: flex;
    max-width: 100%;
    justify-content: center;
    width: 21px;
    height: 21px;
    flex: 0 0 10%;
    align-items: center;
  }
  .body4__row {
    display: flex;
    padding: 40px 0;
    justify-content: center;
    flex-wrap: wrap;
  }
  .body4__row .item {
    margin: 15px;
    transition: 1s;
  }
  .body4__row .item:hover {
    transform: scale(1.1);
    opacity: 0.7;
  }
  .body4__row .item__blockpng {
    max-width: 318px;
  }
  .body4__row .item img {
    width: 100%;
    height: 100%;
  }
  .body4__row .item__btn .button {
    transition: 1s;
  }
  .body4__row .item__btn .button:hover {
    background-color: mediumseagreen;
  }
  .body4__btn {
    display: flex;
    justify-content: center;
    padding-bottom: 30px;
  }
}

.body5 {
  min-height: 480px;
  background: url("../../img/10.png") 0 0/100% auto no-repeat;
}
.body5__background {
  min-height: 480px;
  background: radial-gradient(100% 100% at 50% 0%, rgba(193, 255, 127, 0.1) 0%, rgba(141, 216, 61, 0.1) 100%);
}
.body5__content {
  display: flex;
  padding-left: 167px;
}
.body5__content .block1 {
  display: flex;
  flex-direction: column;
  flex: 1 1 50%;
}
.body5__content .block1__title {
  font-family: HelveticaNeue;
  font-size: 48px;
  line-height: 56px;
  color: #FFFFFF;
  padding: 114px 0 10px;
}
.body5__content .block1__text {
  font-family: HelveticaNeue;
  font-size: 24px;
  line-height: 28px;
  color: #FFFFFF;
  width: 530px;
  padding: 0 0 37px 0;
}
.body5__content .block1__btn .b2 {
  padding: 0 23px 0 23px;
}
.body5__content .block1__btn .button {
  min-width: 207px;
  height: 53px;
  background: linear-gradient(180deg, #686C6F 0%, #373A3C 100%);
  border-radius: 4px;
  font-family: HelveticaNeue;
  font-size: 16px;
  line-height: 21px;
  color: #FFFFFF;
  margin: 0 15px 0 0;
  transition: 1s;
}
.body5__content .block1__btn .button:hover {
  background: #8DD83D;
}
.body5__content .block2 {
  flex: 1 1 50%;
}
@media only screen and (max-width: 479px) {
  .body5 {
    height: auto;
    background: url("../../img/10.png") 0 0/100% 100% no-repeat;
  }
  .body5__background {
    min-height: 480px;
  }
  .body5__content {
    padding: 20px;
  }
  .body5__content .block1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1 1 100%;
  }
  .body5__content .block1__title {
    font-family: HelveticaNeue;
    font-size: 48px;
    line-height: 56px;
    color: #FFFFFF;
    padding: 50px 0 30px 0;
    text-align: center;
  }
  .body5__content .block1__text {
    font-family: HelveticaNeue;
    font-size: 24px;
    line-height: 28px;
    color: #FFFFFF;
    max-width: 325px;
    text-align: center;
    padding: 0 0 37px 0;
  }
  .body5__content .block1__btn {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .body5__content .block1__btn .b2 {
    padding: 0;
    margin-top: 10px;
  }
  .body5__content .block1__btn .button {
    width: 207px;
    height: 53px;
    background: linear-gradient(180deg, #686C6F 0%, #373A3C 100%);
    border-radius: 4px;
    font-family: HelveticaNeue;
    font-size: 16px;
    line-height: 21px;
    color: #FFFFFF;
    transition: 1s;
  }
  .body5__content .block1__btn .button:hover {
    background: #8DD83D;
  }
  .body5__content .block2 {
    flex: none;
  }
}
@media only screen and (min-width: 480px) and (max-width: 779px) {
  .body5 {
    height: auto;
    background: url("../../img/10.png") 0 0/100% 100% no-repeat;
  }
  .body5__background {
    min-height: 480px;
  }
  .body5__content {
    padding: 20px;
  }
  .body5__content .block1 {
    display: flex;
    flex-direction: column;
    flex: 1 1 100%;
    align-items: center;
  }
  .body5__content .block1__title {
    font-family: HelveticaNeue;
    font-size: 48px;
    line-height: 56px;
    color: #FFFFFF;
    padding: 70px 0 0;
    text-align: center;
  }
  .body5__content .block1__text {
    font-family: HelveticaNeue;
    font-size: 24px;
    line-height: 28px;
    color: #FFFFFF;
    max-width: 350px;
    text-align: center;
    padding: 40px 0;
  }
  .body5__content .block1__btn {
    display: flex;
    justify-content: center;
  }
  .body5__content .block1__btn .b2 {
    padding: 0;
  }
  .body5__content .block1__btn .button {
    width: 207px;
    height: 53px;
    background: linear-gradient(180deg, #686C6F 0%, #373A3C 100%);
    border-radius: 4px;
    font-family: HelveticaNeue;
    font-size: 16px;
    line-height: 21px;
    color: #FFFFFF;
    transition: 1s;
  }
  .body5__content .block1__btn .button:hover {
    background: #8DD83D;
  }
  .body5__content .block2 {
    flex: none;
  }
}
@media only screen and (min-width: 780px) and (max-width: 959px) {
  .body5 {
    height: auto;
    background: url("../../img/10.png") 0 0/100% 100% no-repeat;
  }
  .body5__background {
    min-height: 480px;
  }
  .body5__content {
    padding: 20px;
  }
  .body5__content .block1 {
    display: flex;
    flex-direction: column;
    flex: 1 1 70%;
    align-items: center;
  }
  .body5__content .block1__title {
    font-family: HelveticaNeue;
    font-size: 48px;
    line-height: 56px;
    color: #FFFFFF;
    padding: 80px 0 0;
  }
  .body5__content .block1__text {
    font-family: HelveticaNeue;
    font-size: 24px;
    line-height: 28px;
    color: #FFFFFF;
    max-width: 350px;
    text-align: center;
    padding: 40px 0;
  }
  .body5__content .block1__btn {
    display: flex;
  }
  .body5__content .block1__btn .b2 {
    padding: 0;
  }
  .body5__content .block1__btn .button {
    width: 207px;
    height: 53px;
    background: linear-gradient(180deg, #686C6F 0%, #373A3C 100%);
    border-radius: 4px;
    font-family: HelveticaNeue;
    font-size: 16px;
    line-height: 21px;
    color: #FFFFFF;
    transition: 1s;
  }
  .body5__content .block1__btn .button:hover {
    background: #8DD83D;
  }
  .body5__content .block2 {
    flex: 1 1 30%;
  }
}
@media only screen and (min-width: 960px) and (max-width: 1439px) {
  .body5 {
    height: auto;
    background: url("../../img/10.png") 0 0/100% 100% no-repeat;
  }
  .body5__background {
    min-height: 480px;
  }
  .body5__content {
    display: flex;
    padding-left: 167px;
  }
  .body5__content .block1 {
    display: flex;
    flex-direction: column;
    flex: 1 1 50%;
  }
  .body5__content .block1__title {
    font-family: HelveticaNeue;
    font-size: 48px;
    line-height: 56px;
    color: #FFFFFF;
    padding: 114px 0 10px;
  }
  .body5__content .block1__text {
    font-family: HelveticaNeue;
    font-size: 24px;
    line-height: 28px;
    color: #FFFFFF;
    width: 530px;
    padding: 0 0 37px 0;
  }
  .body5__content .block1__btn .b2 {
    padding: 0 23px 0 23px;
  }
  .body5__content .block1__btn .button {
    min-width: 207px;
    height: 53px;
    background: linear-gradient(180deg, #686C6F 0%, #373A3C 100%);
    border-radius: 4px;
    font-family: HelveticaNeue;
    font-size: 16px;
    line-height: 21px;
    color: #FFFFFF;
    margin: 0 15px 0 0;
    transition: 1s;
  }
  .body5__content .block1__btn .button:hover {
    background: #8DD83D;
  }
  .body5__content .block2 {
    flex: 1 1 50%;
  }
}

.body6 {
  min-height: 395px;
  background-color: #373A3C;
}
.body6__row {
  margin: 0 auto;
  display: flex;
  width: 1400px;
  padding: 60px 0 0;
  justify-content: space-around;
}
.body6 .title {
  padding-bottom: 30px;
  font-family: HelveticaNeue;
  font-size: 18px;
  line-height: 21px;
  color: #8DD83D;
}
.body6 .list a {
  font-family: HelveticaNeue;
  font-size: 14px;
  line-height: 16px;
  color: #FFFFFF;
}
.body6 .list a:hover {
  color: #8DD83D;
}
.body6 .list li {
  padding: 0 0 30px;
}
.body6 .list li:last-child {
  content: "";
  padding-bottom: 50px;
}
.body6__icons {
  width: 85px;
  display: flex;
  justify-content: space-between;
  transition: 1s;
}
.body6__icons:hover {
  transform: scale(1.2);
}
.body6__line {
  width: auto;
  display: flex;
  justify-content: center;
  max-width: 1400px;
  margin: 0 auto;
}
.body6__line .container {
  width: 100%;
  height: 2px;
  opacity: 0.35;
  border: 1px solid #FFFFFF;
}
.body6 .footer {
  margin: 0 auto;
  width: 1400px;
  padding: 20px 0 0;
  display: flex;
  justify-content: space-between;
}
.body6 .footer .txt {
  font-family: HelveticaNeue;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
}
@media only screen and (max-width: 479px) {
  .body6__row {
    margin: 0 auto;
    display: flex;
    width: auto;
    padding: 60px 0 0;
    justify-content: space-around;
  }
  .body6__line {
    width: auto;
    display: flex;
    justify-content: center;
    padding: 10px;
  }
  .body6__line .container {
    width: 100%;
    height: 2px;
    opacity: 0.35;
    border: 1px solid #FFFFFF;
  }
  .body6 .footer {
    margin: 0 auto;
    width: auto;
    padding: 20px 10px 0;
    display: flex;
    justify-content: space-between;
  }
  .body6 .footer .txt {
    font-family: HelveticaNeue;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
  }
}
@media only screen and (min-width: 480px) and (max-width: 779px) {
  .body6__row {
    margin: 0 auto;
    display: flex;
    width: auto;
    padding: 60px 0 0;
    justify-content: space-around;
  }
  .body6__line {
    width: auto;
    display: flex;
    justify-content: center;
    padding: 10px 20px;
  }
  .body6__line .container {
    width: 100%;
    height: 2px;
    opacity: 0.35;
    border: 1px solid #FFFFFF;
  }
  .body6 .footer {
    margin: 0 auto;
    width: auto;
    padding: 20px 20px 0;
    display: flex;
    justify-content: space-between;
  }
  .body6 .footer .txt {
    font-family: HelveticaNeue;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
  }
}
@media only screen and (min-width: 780px) and (max-width: 959px) {
  .body6__row {
    margin: 0 auto;
    display: flex;
    width: auto;
    padding: 60px 0 0;
    justify-content: space-around;
  }
  .body6__line {
    width: auto;
    display: flex;
    justify-content: center;
    padding: 10px 20px;
  }
  .body6__line .container {
    width: 100%;
    height: 2px;
    opacity: 0.35;
    border: 1px solid #FFFFFF;
  }
  .body6 .footer {
    margin: 0 auto;
    width: auto;
    padding: 20px 20px 0;
    display: flex;
    justify-content: space-between;
  }
  .body6 .footer .txt {
    font-family: HelveticaNeue;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
  }
}
@media only screen and (min-width: 960px) and (max-width: 1439px) {
  .body6__row {
    margin: 0 auto;
    display: flex;
    width: auto;
    padding: 60px 0 0;
    justify-content: space-around;
  }
  .body6__line {
    width: auto;
    display: flex;
    justify-content: center;
    padding: 10px 50px;
  }
  .body6__line .container {
    width: 100%;
    height: 2px;
    opacity: 0.35;
    border: 1px solid #FFFFFF;
  }
  .body6 .footer {
    margin: 0 auto;
    width: auto;
    padding: 20px 50px 0;
    display: flex;
    justify-content: space-between;
  }
  .body6 .footer .txt {
    font-family: HelveticaNeue;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
  }
}

/*# sourceMappingURL=XBOX.css.map */
