@import "nullstyle.scss";
@font-face {
  font-family: 'HelveticaNeue';
  src: url('../../fonts/helveticaneuecyr-light.eot');
  src: local('☺'), url('../../fonts/helveticaneuecyr-light.woff') format('woff'), url('../../fonts/helveticaneuecyr-light.ttf') format('truetype'), url('../../fonts/helveticaneuecyr-light.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

$container-width: 1100px;

@mixin respond-to($media) {
  @if $media == handhelds {
    @media only screen and (max-width: 479px) {
      @content;
    }
  }
  @else if $media == middle {
    @media only screen and (min-width: 480px) and (max-width: 779px) {
      @content;
    }
  }

  @else if $media == tablets {
    @media only screen and (min-width: 780px) and (max-width: 959px) {
      @content;
    }
  }
  @else if $media == PC {
    @media only screen and (min-width: 960px) and (max-width: 1439px) {
      @content;
    }
  }
}

.wrapper {
}

.content {
  max-width: 100%;
  margin: 0 auto;
  @include respond-to(handhelds) {

    max-width: 100%;

  }

  @include respond-to(tablets) {

    max-width: 100%;

  }

  @include respond-to(PC) {
    max-width: 100%;

  }
}



.menu {
  display: flex;
  height: 60px;
  background-color: #373A3C;
  border-radius: 4px;
  border-bottom: 3px solid #777777;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  &__src {
    width: 210px;
    background: #FFFFFF;
    border: 1px solid #CCCCCC;
    box-sizing: border-box;
    border-radius: 4px;
    padding: 9px 0 8px 16px;
    font-family: HelveticaNeue;
    font-size: 16px;
    line-height: 21px;
    margin: 0 20px 0 10px ;
  }
  &__container {
    width: $container-width;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  &__logo {
    width: 96px;
    height: 29px;
    transition: 1s;
    &:hover{
      transform: scale(1.1);
    }
  }

  &__list {
    display: flex;
    align-items: center;

    li:last-child:before {
      content: "";
      background-image: url("../../img/icons/Shape.png");
      height: 20px;
      width: 20px;
      position: absolute;
      transform: translate(0,-3px);
      margin: 0 0 0 6px;
    }

    a {
      font-family: HelveticaNeue;
      font-size: 16px;
      line-height: 16px;
      color: white;
      padding: 0 30px;
      position: relative;
      transition: 0.5s;
      &:hover{
        color: #8DD83D;
      }

      &:after {
        content: "";
        background-image:url('../../img/icons/down-arrow.png');
        height: 7px;
        width: 12px;
        position: absolute;
        top: 50%;
        margin-left: 8px;
      }

      &.hide-after:after {
        display: none;
      }

    }
  }
  @include respond-to(handhelds) {
    height: auto;


    &__container{
      max-width: 100%;
      flex-direction: column;
      align-items: center;
    }
    &__logo{
      display: flex;
      justify-content: center;
      padding:20px 0;

    }
    &__list{
      display: flex;
      flex-direction: column;
      padding: 20px;
      li {
        padding: 10px;
      }
    }
  }
@include respond-to(middle) {
  height: auto;
  &__container{
    max-width: 100%;
    flex-direction: column;
    align-items: center;
  }
  &__logo{
    display: flex;
    justify-content: center;
    padding:20px 0;

  }
  &__list{
    display: flex;
    flex-direction: column;
    padding: 20px;
    li {
      padding: 10px;
    }

  }
}

  @include respond-to(tablets) {
    height: auto;

    &__container{
      max-width: 100%;
      flex-direction: column;
    }
    &__logo{
      display: flex;
      justify-content: center;
      width: 100%;
      padding: 20px 0;
    }
    &__list{
      display: flex;
      justify-content:space-around;
      padding: 20px 0;


    }
  }


}










.body2 {
  height: 644px;
  background:  url(../../img/1.png) 0 0/100% 100% no-repeat;
  position: relative;
  display: flex;
  justify-content: center;

  &__circles {
    display: flex;
    position: absolute;
    height: 100%;
    align-items: flex-end;
    padding-bottom: 40px;
  }
  &__circle1 {
    border-radius: 50%;
    background-color: #8DD83D;
    width: 10px;
    height: 10px;
  }
  &__circle2 {
    border-radius: 50%;
    border: 1px solid #8DD83D;
    width: 10px;
    height: 10px;
    margin: 0 10px;
  }
  &__circle3 {
    border-radius: 50%;
    border: 1px solid #8DD83D;
    width: 10px;
    height: 10px;
  }
  &__item1 {
    display: flex;
    flex: 0 0 10%;
    align-items: center;
    justify-content: center;
  }
  &__arrow{
    transition: 0.5s;
    &:hover{
      transform: scale(1.2);
    }
  }

  &__item2 {
    display: flex;
    flex: 0 0 80%   ;
    align-items: center;
    height: 100%;
    justify-content: flex-end;
    padding-right: 100px;
  }
  &__content{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    width: 280px;
    height: 260px;
    &.text {
      align-items: flex-start;
      justify-content: flex-start;
    }
  }
  &__title {
    font-family: HelveticaNeue;
    font-size: 36px;
    line-height: 42px;
    color: #FFFFFF;
    text-align: left;
  }
  &__subtitle {
    font-family: HelveticaNeue;
    font-size: 24px;
    line-height: 28px;
    color: #FFFFFF;
    text-align: left;
  }
  &__btn{
    display: flex;
    justify-content: space-between;
    width: 280px;
    &.button {
      background:linear-gradient(180deg, #686C6F 0%, #373A3C 100%);
      width: 136px;
      height: 38px;
      border-radius: 4px;
      color: #FFFFFF;
      font-family: HelveticaNeue;
      font-size: 16px;
      line-height: 21px;
      transition: 1s;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    &.button:hover{
      background: #8DD83D;
    }
  }
  &__item3{
    display: flex;
    flex: 0 0 10%;
    align-items: center;
    justify-content: center;
  }
  @include respond-to(handhelds) {
    height: auto;
    &__circles {
      padding-bottom: 20px;
    }
    &__item2 {

      justify-content: center;
      padding-right: 0;
    }
    &__content{
      display: flex;
      flex-direction: column;
      align-items:center;
      justify-content: center;
      width: 100%;
      height: 400px;
      &.text {
        align-items: center;
        justify-content: flex-start;
        padding-top: 30px;
      }
    }
    &__btn{
      margin-bottom: 30px;
    }
  }

  @include respond-to(middle) {
    height: auto;
    &__circles {
      padding-bottom: 20px;
    }
    &__item2 {

      justify-content: center;
      padding-right: 0;
    }
    &__content{
      display: flex;
      flex-direction: column;
      align-items:center;
      justify-content: center;
      width: 100%;
      height: 400px;
      &.text {
        align-items: center;
        justify-content: flex-start;
        padding-top: 30px;
      }
    }
    &__btn{
      margin-bottom: 30px;
    }
  }

}

.body3 {
  background: radial-gradient(100% 100% at 50% 0%, #686C6F 0%, #373A3C 100%);
  min-height: 865px;
  display: flex;
  flex-direction: column;
  padding-bottom: 67px;

  &__block1 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__icon {
    background: url('../../img/icons/xbox.png') 0 0 no-repeat;
    height: 64px;
    width: 63px;
    margin: 64px 0 18px 0;
  }
  &__text{
    max-width:449px ;
    text-align: center;
  }
  &__text1 {
    font-family: HelveticaNeue;
    font-size: 48px;
    line-height: 56px;
    color: #FFFFFF;
  }
  &__text2{
    font-family: HelveticaNeue;
    font-size: 36px;
    line-height: 42px;
    color: #FFFFFF;
  }
  &__row {
    width: $container-width;
    margin: 0 auto;
    display: flex;
  }
  &__column {
    display: flex;
    flex:1 1 33.333%;
    padding: 42px 0 0;
    justify-content:center;
  }
  @include respond-to(handhelds) {
  height: auto;
    &__icon {
      margin: 30px 0 18px;
    }
    &__row {
      width: 100%;
      margin: 0 auto;
      display: flex;
      flex-wrap: wrap;
    }
}
  @include respond-to(middle) {
    height: auto;
    &__icon {
      margin: 30px 0 18px 0;
    }
    &__row {
      width: 100%;
      margin: 0 auto;
      display: flex;
      flex-wrap: wrap;
    }
  }
  @include respond-to(tablets) {
    height: auto;
    &__icon {
      margin: 50px 0 18px;
    }
    &__row {
      width: 100%;
      margin: 0 auto;
      display: flex;
      flex-wrap: wrap;
    }
  }
  @include respond-to(PC) {
    height: auto;
    &__icon {
      margin: 64px 0 18px;
    }
    &__row {
      width: 100%;
      margin: 0 auto;
      display: flex;
      flex-wrap: wrap;
    }
  }

}

.item{
  width: 320px;
  min-height: 420px;
  background: #FFFFFF;
  border: 1px solid #8DD83D;
  box-sizing: border-box;
  border-radius: 4px;
  display: flex;
  flex-direction: column;

  &__blockpng{
    display: flex;
    width: 318px;
    height: 180px;
    border-radius: 4px;
    background-color: #FAFAFA;
   justify-content: center;
    align-items: center;

  }

  &__img{

    height: 180px;
  }

  &__body {
    flex: 1 1 auto;
  }

  &__subtitle {
    font-family: HelveticaNeue;
    font-size: 18px;
    line-height: 21px;
    color: #435766;
    padding: 20px;
  }

  &__text {
    font-family: HelveticaNeue;
    font-size: 24px;
    line-height: 28px;
    color: #435766;
    padding: 0 20px;
    word-wrap: break-word;
  }

  &__btn {
    display: flex;


    .button{
      align-self: flex-end;
      width: 278px;
      height: 60px;
      background: #8DD83D;
      border-radius: 4px;
      font-family: HelveticaNeue;
      font-size: 16px;
      line-height: 21px;
      color: #FFFFFF;
      margin: 20px auto;
      transition: 1s;
      &:hover {
        background-color: mediumseagreen;
      }
    }
  }
}



.body4 {
  min-height: 880px;


  &__body {
    background: url("../../img/5.png") 0 0/100% auto no-repeat;
    min-height: 880px;
    display: flex;
    flex-direction: column;

  }

  &__background {
    min-height: 880px;
    background-color: rgba(23, 23, 23, 0.5);
  }

  &__block1 {
    min-height: 43px;
    display: flex;
    align-items: center;
    padding: 97px 0 0 ;
    justify-content: center;
  }

  &__title {
    display: flex;
    justify-content: center;
    font-family: HelveticaNeue;
    font-size: 36px;
    line-height: 42px;
    color: #FFFFFF;
    flex: 0 0 90%;
    padding-left: 150px;

  }

  &__arrow {
    display: flex;
    flex: 0 0 10%;
    justify-content: center;
    width: 21px;
    height: 21px;
    transition: 0.5s;
    &:hover {
      transform: scale(1.25);
    }
  }

  &__btn {
    display: flex;
    justify-content: center;

  }

  &__button {
    width: 207px;
    height: 53px;
    background: linear-gradient(180deg, #686C6F 0%, #373A3C 100%);
    border-radius: 4px;
    font-family: HelveticaNeue;
    font-size: 16px;
    line-height: 21px;
    color: #FFFFFF;
    transition: 1s;
    &:hover {
      background: #8DD83D;
    }
  }

  &__row {
    display: flex;
    padding: 60px;
    overflow: hidden;


    .item {
      margin: 30px;
      transition: 1s;

      &:hover {
        transform: scale(1.1);
        opacity: 0.7;
      }

      &__blockpng {
        max-width: 318px;

      }

      img {
        width: 100%;
        height: 100%;
      }

      &__body {
      }

      &__subtitle {
      }

      &__text {
      }

      &__btn {
        .button {
          transition: 1s;

          &:hover {
            background-color: mediumseagreen;
          }
        }
      }
    }
  }
  @include respond-to(handhelds) {
    min-height: 880px;
    &__body {
      background: url("../../img/5.png") 0 0/cover no-repeat;
      min-height: 880px;
      display: flex;
      flex-direction: column;

    }

    &__background {
      min-height: 880px;
      background-color: rgba(23, 23, 23, 0.5);
    }
    &__block1 {
      flex-direction: column;
      max-height: 100px;
      display: flex;
      align-items: center;
      padding: 40px 0 0 ;
      justify-content: center;

    }

    &__title {
      display: flex;
      justify-content: center;
      text-align: center;
      font-family: HelveticaNeue;
      font-size: 36px;
      line-height: 42px;
      color: #FFFFFF;
      max-width: 100%;
      padding-left: 0;

    }

    &__arrow {
      display: flex;
      max-width: 100%;
      justify-content: center;
      width: 21px;
      height: 21px;

      padding-top: 10px;
    }
    &__row {
      display: flex;
      padding: 40px 0;
      justify-content: center;
      flex-wrap: wrap;



      .item {
        margin: 15px;
        transition: 1s;

        &:hover {
          transform: scale(1.1);
          opacity: 0.7;
        }

        &__blockpng {
          max-width: 318px;

        }

        img {
          width: 100%;
          height: 100%;
        }

        &__body {
        }

        &__subtitle {
        }

        &__text {
        }

        &__btn {
          .button {
            transition: 1s;

            &:hover {
              background-color: mediumseagreen;
            }
          }
        }
      }
    }
    &__btn {
      display: flex;
      justify-content: center;
      padding-bottom: 30px;
    }
  }

  @include respond-to(middle) {
    min-height: 880px;
    &__body {
      background: url("../../img/5.png") 0 0/cover no-repeat;
      min-height: 880px;
      display: flex;
      flex-direction: column;

    }

    &__background {
      min-height: 880px;
      background-color: rgba(23, 23, 23, 0.5);
    }
    &__block1 {

      max-height: 100px;
      display: flex;
      align-items: center;
      padding: 40px 0 0 ;
      justify-content: center;

    }

    &__title {
      display: flex;
      justify-content: center;
      text-align: center;
      font-family: HelveticaNeue;
      font-size: 36px;
      line-height: 42px;
      color: #FFFFFF;
      max-width: 100%;
      padding-left: 0;
      flex: 0 0 90%;
    }

    &__arrow {
      display: flex;
      max-width: 100%;
      justify-content: center;
      width: 21px;
      height: 21px;
      flex: 0 0 10%;
      align-items: center;

    }
    &__row {
      display: flex;
      padding: 40px 0;
      justify-content: center;
      flex-wrap: wrap;



      .item {
        margin: 15px;
        transition: 1s;

        &:hover {
          transform: scale(1.1);
          opacity: 0.7;
        }

        &__blockpng {
          max-width: 318px;

        }

        img {
          width: 100%;
          height: 100%;
        }

        &__body {
        }

        &__subtitle {
        }

        &__text {
        }

        &__btn {
          .button {
            transition: 1s;

            &:hover {
              background-color: mediumseagreen;
            }
          }
        }
      }
    }
    &__btn {
      display: flex;
      justify-content: center;
      padding-bottom: 30px;
    }
  }

  @include respond-to(tablets) {
    min-height: 880px;
    &__body {
      background: url("../../img/5.png") 0 0/cover no-repeat;
      min-height: 880px;
      display: flex;
      flex-direction: column;

    }

    &__background {
      min-height: 880px;
      background-color: rgba(23, 23, 23, 0.5);
    }
    &__block1 {

      max-height: 100px;
      display: flex;
      align-items: center;
      padding: 40px 0 0 ;
      justify-content: center;

    }

    &__title {
      display: flex;
      justify-content: center;
      text-align: center;
      font-family: HelveticaNeue;
      font-size: 36px;
      line-height: 42px;
      color: #FFFFFF;
      max-width: 100%;
      padding-left: 0;
      flex: 0 0 90%;
    }

    &__arrow {
      display: flex;
      max-width: 100%;
      justify-content: center;
      width: 21px;
      height: 21px;
      flex: 0 0 10%;
      align-items: center;

    }
    &__row {
      display: flex;
      padding: 40px 0;
      justify-content: center;
      flex-wrap: wrap;



      .item {
        margin: 15px;
        transition: 1s;

        &:hover {
          transform: scale(1.1);
          opacity: 0.7;
        }

        &__blockpng {
          max-width: 318px;

        }

        img {
          width: 100%;
          height: 100%;
        }

        &__body {
        }

        &__subtitle {
        }

        &__text {
        }

        &__btn {
          .button {
            transition: 1s;

            &:hover {
              background-color: mediumseagreen;
            }
          }
        }
      }
    }
    &__btn {
      display: flex;
      justify-content: center;
      padding-bottom: 30px;
    }
  }
  @include respond-to(PC) {
    min-height: 880px;
    &__body {
      background: url("../../img/5.png") 0 0/cover no-repeat;
      min-height: 880px;
      display: flex;
      flex-direction: column;

    }

    &__background {
      min-height: 880px;
      background-color: rgba(23, 23, 23, 0.5);
    }
    &__block1 {

      max-height: 100px;
      display: flex;
      align-items: center;
      padding: 80px 0 0 ;
      justify-content: center;

    }

    &__title {
      display: flex;
      justify-content: center;
      text-align: center;
      font-family: HelveticaNeue;
      font-size: 36px;
      line-height: 42px;
      color: #FFFFFF;
      max-width: 100%;
      padding-left: 0;
      flex: 0 0 90%;
    }

    &__arrow {
      display: flex;
      max-width: 100%;
      justify-content: center;
      width: 21px;
      height: 21px;
      flex: 0 0 10%;
      align-items: center;

    }
    &__row {
      display: flex;
      padding: 40px 0;
      justify-content: center;
      flex-wrap: wrap;



      .item {
        margin: 15px;
        transition: 1s;

        &:hover {
          transform: scale(1.1);
          opacity: 0.7;
        }

        &__blockpng {
          max-width: 318px;

        }

        img {
          width: 100%;
          height: 100%;
        }

        &__body {
        }

        &__subtitle {
        }

        &__text {
        }

        &__btn {
          .button {
            transition: 1s;

            &:hover {
              background-color: mediumseagreen;
            }
          }
        }
      }
    }
    &__btn {
      display: flex;
      justify-content: center;
      padding-bottom: 30px;
    }
  }


}

.body5{
  height: 480px;
  background: url("../../img/10.png") 0 0/100% auto no-repeat;
  &__background{
    height: 480px;
    background: radial-gradient(100% 100% at 50% 0%, rgba(193, 255, 127, 0.1) 0%, rgba(141, 216, 61, 0.1) 100%);
  }
  &__content{
    display: flex;
    padding-left: 167px;
    .block1{
      display: flex;
      flex-direction: column;
      flex: 1 1 50%;

      &__title{
        font-family: HelveticaNeue;
        font-size: 48px;
        line-height: 56px;
        color: #FFFFFF;
        padding: 114px 0 10px 0;
      }
      &__text {
        font-family: HelveticaNeue;
        font-size: 24px;
        line-height: 28px;
        color: #FFFFFF;
        width: 530px;
        padding: 0 0 37px 0;
      }
      &__btn{
        .b2 {
          padding: 0 23px 0 23px;
        }
        .button{
          min-width: 207px;
          height: 53px;
          background: linear-gradient(180deg, #686C6F 0%, #373A3C 100%);
          border-radius: 4px;
          font-family: HelveticaNeue;
          font-size: 16px;
          line-height: 21px;
          color: #FFFFFF;
          margin: 0 15px 0 0 ;
          transition: 1s;

          &:hover{
            background:#8DD83D;
          }
        }
      }

    }
    .block2{
    flex: 1 1 50%;
    }
  }
}

.body6 {
  height: 395px;
  background-color: #373A3C;

  &__row {
    display: flex;
    width: 850px;
    padding: 60px 0 0 165px;
    justify-content: space-between;
  }

  .title {
    padding-bottom: 30px;
      font-family: HelveticaNeue;
      font-size: 18px;
      line-height: 21px;
      color: #8DD83D;
  }

  .list {
    a {
      font-family: HelveticaNeue;
      font-size: 14px;
      line-height: 16px;
      color: #FFFFFF;

      &:hover {
        color: #8DD83D;
      }
    }

    li {
      padding: 0 0 30px 0;

      &:last-child {
        content: "";
        padding-bottom: 50px;
      }

    }
  }

  &__icons {
    width: 85px;
    display: flex;
    justify-content: space-between;
    transition: 1s;
    &:hover{
      transform: scale(1.2);
    }
  }

  &__line {
    width: 1400px;
    display: flex;
    justify-content: center;
    .container{
      width: 1200px;
      height: 2px;
      opacity: 0.35;
      border: 1px solid #FFFFFF;
    }
  }

  .footer{
    padding: 20px 100px 0 100px;
    display: flex;
    justify-content: space-between;
    .txt{
      font-family: HelveticaNeue;
      font-size: 16px;
      line-height: 19px;
      color: #FFFFFF;
    }
  }


}