@import "nullstyle.scss";
@font-face {
  font-family: 'HelveticaNeue';
  src: url('../../fonts/helveticaneuecyr-light.eot');
  src: local('☺'), url('../../fonts/helveticaneuecyr-light.woff') format('woff'), url('../../fonts/helveticaneuecyr-light.ttf') format('truetype'), url('../../fonts/helveticaneuecyr-light.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}


.wrapper {
}

.content {
  max-width: 1400px;
  margin: 0 auto;
}
@media (max-width:1400px){
  .content{
    max-width:970px;
  }
}
@media (max-width:992px){
  .content{
    max-width:750px;
  }
}
@media (max-width:767px){
  .content{
    max-width:none;
  }
}
@media (max-width:420px){
}

.menu {
  height: 60px;
  background-color: #373A3C;
  border-radius: 4px;
  display: flex;
  align-items: center;
  border-bottom: 3px solid #777777;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;

  &__container {
    width: 1070px;
    margin: 0 auto;
    display: flex;
    align-items: center;
  }

  &__logo {
    width: 96px;
    height: 29px;
    padding-right: 330px;
    transition: 1s;
    &:hover{
      transform: scale(1.1);
    }
  }

  &__list {
    display: flex;
    align-items: center;

    li:last-child:before {
      content: "";
      background-image: url("../../img/icons/Shape.png");
      height: 20px;
      width: 20px;
      position: absolute;
      transform: translate(0,-3px);
      margin: 0 0 0 6px;
    }

    a {
      font-family: HelveticaNeue;
      font-size: 16px;
      line-height: 16px;
      color: white;
      padding: 0 30px;
      position: relative;
      transition: 0.5s;
      &:hover{
        color: #8DD83D;
      }

      &:after {
        content: "";
        background-image:url('../../img/icons/down-arrow.png');
        height: 7px;
        width: 12px;
        position: absolute;
        top: 50%;
        margin-left: 8px;
      }

      &.hide-after:after {
        display: none;
      }

    }
  }
}









.menu__src {
  width: 210px;
  background: #FFFFFF;
  border: 1px solid #CCCCCC;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 9px 0 8px 16px;
  font-family: HelveticaNeue;
  font-size: 16px;
  line-height: 21px;
  margin: 0 20px 0 10px ;
}



.body2 {
  height: 644px;
  background:  url(../../img/1.png) 0 0/100% 100% no-repeat;
  position: relative;
  display: flex;
  justify-content: center;
  &__circles {
    display: flex;
    position: absolute;
    padding: 591px 0 0 0 ;
  }
  &__circle1 {
    border-radius: 50%;
    background-color: #8DD83D;
    width: 10px;
    height: 10px;
  }
  &__circle2 {
    border-radius: 50%;
    border: 1px solid #8DD83D;
    width: 10px;
    height: 10px;
    margin: 0 10px;
  }
  &__circle3 {
    border-radius: 50%;
    border: 1px solid #8DD83D;
    width: 10px;
    height: 10px;
  }
  &__item1 {
    display: flex;
    flex: 0 0 135px;
    align-items: center;
    justify-content: center;
    transition: 0.5s;
    &:hover{
      transform: scale(1.2);
    }
  }
  &__item2 {
    flex: 0 0 1130px;
  }
  &__content{
    width: 296px;
    margin: 0 0 0 696px;
  }
  &__title {
    padding: 206px 0 0 0;
    font-family: HelveticaNeue;
    font-size: 36px;
    line-height: 42px;
    color: #FFFFFF;
    text-align: left;
  }
  &__subtitle {
    font-family: HelveticaNeue;
    font-size: 24px;
    line-height: 28px;
    color: #FFFFFF;
    text-align: left;
    padding: 0 0 134px 0;
  }
  &__btn{
  }
  &__watch {
    background:linear-gradient(180deg, #686C6F 0%, #373A3C 100%);
    width: 136px;
    height: 38px;
    border-radius: 4px;
    margin: 0 13px 0 0 ;
    color: #FFFFFF;
    font-family: HelveticaNeue;
    font-size: 16px;
    line-height: 21px;
    transition: 1s;

  }
  &__watch:hover{
    background: #8DD83D;
  }
  &__explore {
    background: linear-gradient(180deg, #686C6F 0%, #373A3C 100%);
    width: 136px;
    height: 38px;
    border-radius: 4px;
    color: #FFFFFF;
    font-family: HelveticaNeue;
    font-size: 16px;
    line-height: 21px;
    transition: 1s;
  }
  &__explore:hover{
    background: #8DD83D;
  }
  &__item3{
    display: flex;
    flex: 0 0 135px;
    align-items: center;
    justify-content: center;
    transition: 0.5s;
    &:hover{
      transform: scale(1.2);
    }
  }
}

.body3 {
  background: radial-gradient(100% 100% at 50% 0%, #686C6F 0%, #373A3C 100%);
  min-height: 865px;
  display: flex;
  flex-direction: column;
  padding-bottom: 67px;
}

.body3__block1 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.body3__icon {
  background: url('../../img/icons/xbox.png') 0 0 no-repeat;
  height: 64px;
  width: 63px;
  margin: 64px 0 18px 0;

}
.body3__text1 {
  font-family: HelveticaNeue;
  font-size: 48px;
  line-height: 56px;
  color: #FFFFFF;
}
.body3__text2{
  font-family: HelveticaNeue;
  font-size: 36px;
  line-height: 42px;
  color: #FFFFFF;
}



.body3__row {
  width: 1100px;
  margin: 0 auto;
  display: flex;
}




.column {
  display: flex;
  flex:1 1 33.333%;
  padding: 42px 0 0 0;
  justify-content:center;


}
.item{
  width: 321px;
  min-height: 420px;
  background: #FFFFFF;
  border: 1px solid #8DD83D;
  box-sizing: border-box;
  border-radius: 4px;
  display: flex;
  flex-direction: column;

  &__blockpng{
    display: flex;
    width: 318px;
    height: 180px;
    background-color: #FAFAFA;
   justify-content: center;
    align-items: center;
  }

  &__img{
    height: 180px;
  }

  .body {
    flex: 1 1 auto;
  }

  &__subtitle {
    font-family: HelveticaNeue;
    font-size: 18px;
    line-height: 21px;
    color: #435766;
    padding: 20px;
  }

  &__text {
    font-family: HelveticaNeue;
    font-size: 24px;
    line-height: 28px;
    color: #435766;
    padding: 0 20px;
    word-wrap: break-word;
  }

  &__btn {
    display: flex;


    .button{
      align-self: flex-end;
      width: 278px;
      height: 60px;
      background: #8DD83D;
      border-radius: 4px;
      font-family: HelveticaNeue;
      font-size: 16px;
      line-height: 21px;
      color: #FFFFFF;
      margin: 20px auto;
      transition: 1s;
      &:hover {
        background-color: mediumseagreen;
      }
    }
  }
}



.body4 {
  min-height: 880px;


  &__body {
    background: url("../../img/5.png") 0 0/100% auto no-repeat;
    height: 880px;
    display: flex;
    flex-direction: column;

  }

  &__background {
    height: 880px;
    background-color: rgba(23, 23, 23, 0.5);
  }

  &__block1 {
    min-height: 43px;
    display: flex;
    align-items: center;
    padding: 97px 0 0 0;
    justify-content: center;
  }

  &__title {
    display: flex;
    justify-content: center;
    font-family: HelveticaNeue;
    font-size: 36px;
    line-height: 42px;
    color: #FFFFFF;
    flex: 0 0 1265px;
    padding-left: 150px;

  }

  &__arrow {
    display: flex;
    flex: 0 0 135px;
    justify-content: center;
    width: 21px;
    height: 21px;
  }

  &__btn {
    display: flex;
    justify-content: center;


  }

  &__button {
    width: 207px;
    height: 53px;
    background: linear-gradient(180deg, #686C6F 0%, #373A3C 100%);
    border-radius: 4px;
    font-family: HelveticaNeue;
    font-size: 16px;
    line-height: 21px;
    color: #FFFFFF;
    transition: 1s;
    &:hover {
      background: #8DD83D;
    }
  }

  &__row {
    display: flex;
    padding: 60px;
    overflow: hidden;


    .item {
      margin: 15px;
      transition: 1s;

      &:hover {
        transform: scale(1.1);
        opacity: 0.7;
      }

      &__blockpng {
        max-width: 318px;

      }

      img {
        width: 100%;
        height: 100%;
      }

      .body {
      }

      &__subtitle {
      }

      &__text {
      }

      &__btn {
        .button {
          transition: 1s;

          &:hover {
            background-color: mediumseagreen;
          }
        }
      }
    }
  }

}

.body5{
  height: 480px;
  background: url("../../img/10.png") 0 0/100% auto no-repeat;
  &__background{
    height: 480px;
    background: radial-gradient(100% 100% at 50% 0%, rgba(193, 255, 127, 0.1) 0%, rgba(141, 216, 61, 0.1) 100%);
  }
  &__content{
    display: flex;
    padding-left: 167px;
    .block1{
      display: flex;
      flex-direction: column;
      flex: 1 1 50%;

      &__title{
        font-family: HelveticaNeue;
        font-size: 48px;
        line-height: 56px;
        color: #FFFFFF;
        padding: 114px 0 10px 0;
      }
      &__text {
        font-family: HelveticaNeue;
        font-size: 24px;
        line-height: 28px;
        color: #FFFFFF;
        width: 530px;
        padding: 0 0 37px 0;
      }
      &__btn{
        .b2 {
          padding: 0 23px 0 23px;
        }
        .button{
          min-width: 207px;
          height: 53px;
          background: linear-gradient(180deg, #686C6F 0%, #373A3C 100%);
          border-radius: 4px;
          font-family: HelveticaNeue;
          font-size: 16px;
          line-height: 21px;
          color: #FFFFFF;
          margin: 0 15px 0 0 ;
          transition: 1s;

          &:hover{
            background:#8DD83D;
          }
        }
      }

    }
    .block2{
    flex: 1 1 50%;
    }
  }
}

.body6 {
  height: 395px;
  background-color: #373A3C;

  &__row {
    display: flex;
    width: 850px;
    padding: 60px 0 0 165px;
    justify-content: space-between;
  }

  .title {
    padding-bottom: 30px;
      font-family: HelveticaNeue;
      font-size: 18px;
      line-height: 21px;
      color: #8DD83D;
  }

  .list {
    a {
      font-family: HelveticaNeue;
      font-size: 14px;
      line-height: 16px;
      color: #FFFFFF;

      &:hover {
        color: #8DD83D;
      }
    }

    li {
      padding: 0 0 30px 0;

      &:last-child {
        content: "";
        padding-bottom: 50px;
      }

    }
  }

  &__icons {
    width: 85px;
    display: flex;
    justify-content: space-between;
    transition: 1s;
    &:hover{
      transform: scale(1.2);
    }
  }

  &__line {
    width: 1400px;
    display: flex;
    justify-content: center;
    .container{
      width: 1200px;
      height: 2px;
      opacity: 0.35;
      border: 1px solid #FFFFFF;
    }
  }

  .footer{
    padding: 20px 100px 0 100px;
    display: flex;
    justify-content: space-between;
    .txt{
      font-family: HelveticaNeue;
      font-size: 16px;
      line-height: 19px;
      color: #FFFFFF;
    }
  }


}